/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* Default Styles */

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.main-header
{
    margin-bottom: 3%;
}

.card
{
    margin: 3% 0%;
}

.nav-bar
{
    margin-bottom: 2%;
}

img
{
    max-width: 20%;
}

.item-details-container
{
    font-family: 'Montserrat', sans-serif;
}

.spacing-groups
{
    margin-bottom: 1%;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.order-item-right-div {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.order-remove-button
{
    margin-bottom: 20%;
    position: relative;
    bottom: 6%;
}

#clear-cart-button
{
    margin-right: 5%;
}