
.App {
    text-align: center;
}

.main-header
{
    margin-bottom: 3%;
}

.card
{
    margin: 3% 0%;
}

.nav-bar
{
    margin-bottom: 2%;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.order-item-right-div {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.order-remove-button
{
    margin-bottom: 20%;
    position: relative;
    bottom: 6%;
}

#clear-cart-button
{
    margin-right: 5%;
}
